.cover__subtitle {
    z-index: 2;
    margin: 0;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125em;
    line-height: 1.375rem;
    text-align: center;
    max-width: 360px;
    margin-top: 32px;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 0.875em;
        line-height: 1rem;
    }
}