.place__wrapper {
    order: 4;
    max-width: 480px;
}

@media screen and (max-width: 1024px) {
    .place__wrapper {
        max-width: 456px;
    }
}

@media screen and (max-width: 320px) {
    .place__wrapper {
        padding: 0 16px;
    }
}