.cover__overlay {
    width: 100%;
    height: 740px;
    margin-top: 92px;
    background-image: url('../__image/cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cover__overlay:before {
    position: absolute;
    background-color: rgb(42, 44, 47);
    content: '';
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: opacity .3s;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        max-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;
        max-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover__overlay {
        max-width: 320px;
        max-height: 200px;
    }
}

.cover__overlay:hover::before {
    opacity: .8;
}